.colorRect {
  display: flex;
  justify-content: center;
  align-items: center;
}
#rechteck {
  border: 3px solid #eeeeee;
  box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
  border-radius: 50%;
}
.rankingbody {
  box-shadow: -10px -10px 15px #ffffff, 10px 10px 15px #dae1eb;
  border-radius: 50px;
  font-family: halyard-micro, sans-serif;
  color: #ffffff;
}
thead tr th {
  border-top: none !important;
}
/* tr {
  box-shadow: -10px -10px 15px #ffffff, 10px 10px 15px #dae1eb;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  background-color: #1a1559;
  border-radius: 50px;
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
} */
