.levelUpCircle {
  height: 300px;
  width: 300px;
}
.circleStyle {
  box-shadow: -10px -10px 15px #ffffff, 10px 10px 15px #dae1eb;
}

text {
  line-height: 1.6;
  font-weight: 500;

  font-size: 30px;
}
