.points {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
}
.levelUpCircle {
  height: 300px;
  width: 300px;
}
.circleStyle {
  box-shadow: -10px -10px 15px #ffffff, 10px 10px 15px #dae1eb;
}
