.box {
  width: 90%;
}
.boxInner {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .boxInner {
    width: 85%;
  }
}

.m-0 {
  margin: 0 !important;
}

.m-xs {
  margin: 5px !important;
}

.m-sm {
  margin: 10px !important;
}

.m-md {
  margin: 30px !important;
}

.m-lg {
  margin: 50px !important;
}

.m-xl {
  margin: 100px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-xs {
  margin-top: 5px !important;
}

.mt-sm {
  margin-top: 10px !important;
}

.mt-md {
  margin-top: 30px !important;
}

.mt-lg {
  margin-top: 50px !important;
}

@media screen and (max-width: 992px) {
  .mt-lg {
    margin-top: 30px !important;
  }
}

.mt-xl {
  margin-top: 70px !important;
}

@media screen and (max-width: 992px) {
  .mt-xl {
    margin-top: 55px !important;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-xs {
  margin-bottom: 5px !important;
}

.mb-sm {
  margin-bottom: 10px !important;
}

.mb-md {
  margin-bottom: 20px !important;
}

.mb-lg {
  margin-bottom: 50px !important;
}

@media screen and (max-width: 992px) {
  .mb-lg {
    margin-bottom: 30px !important;
  }
}

.mb-xl {
  margin-bottom: 70px !important;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .mb-xl {
    margin-bottom: 55px !important;
  }
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-xs {
  margin-right: 5px !important;
}

.mr-sm {
  margin-right: 10px !important;
}

.mr-md {
  margin-right: 30px !important;
}

.mr-lg {
  margin-right: 50px !important;
}

.mr-xl {
  margin-right: 70px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-xs {
  margin-left: 5px !important;
}

.ml-sm {
  margin-left: 10px !important;
}

.ml-md {
  margin-left: 30px !important;
}

.ml-lg {
  margin-left: 50px !important;
}

.ml-xl {
  margin-left: 70px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-xs {
  padding: 5px !important;
}

.p-sm {
  padding: 10px !important;
}

.p-md {
  padding: 30px !important;
}

@media screen and (max-width: 768px) {
  .p-md {
    padding: 20px !important;
  }
}

.p-lg {
  padding: 50px !important;
}

@media screen and (max-width: 768px) {
  .p-lg {
    padding: 25px !important;
  }
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-0 *:first-child {
  margin-top: 0;
}

.pt-xs {
  padding-top: 5px !important;
}

.pt-sm {
  padding-top: 10px !important;
}

.pt-md {
  padding-top: 30px !important;
}

@media screen and (max-width: 768px) {
  .pt-md {
    padding-top: 20px !important;
  }
}

.pt-lg {
  padding-top: 50px !important;
}

@media screen and (max-width: 768px) {
  .pt-lg {
    padding-top: 25px !important;
  }
}

.pt-xl {
  padding-top: 70px !important;
}

@media screen and (max-width: 768px) {
  .pt-xl {
    padding-top: 10px !important;
  }
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-xs {
  padding-bottom: 5px !important;
}

.pb-sm {
  padding-bottom: 10px !important;
}

.pb-md {
  padding-bottom: 30px !important;
}

@media screen and (max-width: 768px) {
  .pb-md {
    padding-bottom: 20px !important;
  }
}

.pb-lg {
  padding-bottom: 50px !important;
}

@media screen and (max-width: 768px) {
  .pb-lg {
    padding-bottom: 25px !important;
  }
}

.pt-xl {
  padding-bottom: 70px !important;
}

@media screen and (max-width: 768px) {
  .pt-xl {
    padding-bottom: 50px !important;
  }
}
.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
  font-weight: 400;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 25%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

#rechteck {
  margin: 20 0 20 0;
}
