.alignCenter {
  text-align: center;
}
.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.highlight {
  color: #a13356 !important;
}
.highlight:hover {
  color: #a13356;
  text-decoration: underline !important;
  cursor: pointer;
}

h1 {
  line-height: 1.3;
  font-weight: 700;
  font-size: 50px;
}
h4 {
  line-height: 1.6;
  font-weight: 500;
  font-size: 25px;
}
h5 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 18px;
}

p {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
}

label {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
}

th {
  color: #1a1559;
}
td {
  color: #1a1559;
}

@media screen and (max-width: 768px) {
  label {
    line-height: 1.6;
    font-weight: 400;
    font-size: 12px;
  }
  h1 {
    line-height: 1.5;
    font-weight: 700;
    font-size: 30px;
  }
  h4 {
    line-height: 1.6;
    font-weight: 500;
    font-size: 20px;
  }
  h5 {
    line-height: 1.6;
    font-weight: 400;
    font-size: 14px;
  }

  th {
    color: #1a1559;
    line-height: 1.6;
    font-weight: 700;
    font-size: 12px;
  }
  td {
    color: #1a1559;
    line-height: 1.6;
    font-weight: 400;
    font-size: 12px;
  }
}

@media screen and (min-width: 2000px) {
  h4 {
    line-height: 1.2;
    font-weight: 300;
    font-size: 25px;
  }
}
