#rect1 {
  position: absolute;
  width: 180px;
  height: 120px;
  left: -56px;
  top: 20%;

  background: #70c1b3;
  border: 12px solid #eeeeee;
  box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
  border-radius: 51.5px;
}

#rect2 {
  position: absolute;
  width: 103px;
  height: 327px;
  left: -38px;
  top: 40%;

  background: #2bcadc;
  border: 12px solid #eeeeee;
  box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
  border-radius: 51.5px;
}
#rect3 {
  position: absolute;
  width: 77px;
  height: 77px;
  left: 140px;
  top: 60%;

  background: #63a1cf;
  border: 12px solid #eeeeee;
  box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
  border-radius: 51.5px;
}
#rect4 {
  position: absolute;
  width: 162px;
  height: 162px;
  left: -16px;
  top: 90%;

  background: #fcfdaf;
  border: 12px solid #eeeeee;
  box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
  border-radius: 50%;
}
#rect5 {
  position: absolute;
  width: 142px;
  height: 142px;
  left: 94%;
  top: 40%;

  background: #ff7373;
  border: 12px solid #eeeeee;
  box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
  border-radius: 51.5px;
}
#rect6 {
  position: absolute;
  width: 194px;
  height: 103px;
  left: 88%;
  top: 70%;

  background: #fbe475;
  border: 12px solid #eeeeee;
  box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
  border-radius: 51.5px;
}
#rect7 {
  position: absolute;
  width: 164px;
  height: 164px;
  left: 93%;
  top: 90%;

  background: #2bcadc;
  border: 12px solid #eeeeee;
  box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
  border-radius: 82px;
}

@media screen and (max-width: 768px) {
  #rect1 {
    position: absolute;
    width: 130px;
    height: 80px;
    left: -56px;
    top: 10%;

    background: #70c1b3;
    border: 12px solid #eeeeee;
    box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
    border-radius: 51.5px;
  }

  #rect2 {
    position: absolute;
    width: 83px;
    height: 307px;
    left: -48px;
    top: 40%;

    background: #2bcadc;
    border: 12px solid #eeeeee;
    box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
    border-radius: 51.5px;
  }
  #rect3 {
    position: absolute;
    width: 77px;
    height: 77px;
    left: 60%;
    top: 85%;

    background: #63a1cf;
    border: 12px solid #eeeeee;
    box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
    border-radius: 51.5px;
  }
  #rect4 {
    position: absolute;
    width: 162px;
    height: 162px;
    left: -16px;
    top: 90%;

    background: #fcfdaf;
    border: 12px solid #eeeeee;
    box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
    border-radius: 50%;
  }
  #rect5 {
    position: absolute;
    width: 142px;
    height: 142px;
    left: 94%;
    top: 20%;

    background: #ff7373;
    border: 12px solid #eeeeee;
    box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
    border-radius: 51.5px;
  }
  #rect6 {
    position: absolute;
    width: 194px;
    height: 103px;
    left: 88%;
    top: 70%;

    background: #fbe475;
    border: 12px solid #eeeeee;
    box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
    border-radius: 51.5px;
  }
  #rect7 {
    position: absolute;
    width: 164px;
    height: 164px;
    left: 93%;
    top: 90%;

    background: #2bcadc;
    border: 12px solid #eeeeee;
    box-shadow: 8px 8px 20px #d3d3d3, -8px -8px 20px #ffffff;
    border-radius: 82px;
  }
}
