body {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}
input {
  color: none;
}
h4 {
  line-height: 1.6;
  font-weight: 300;
}

/* #slide2 {
  display: none;
}

#slide3 {
  display: none;
}

#slide4 {
  display: none;
} */
.card {
  background: rgb(255, 255, 255);
  border-radius: 2px;
  display: inline-block;
  padding: 30px 30px 30px 30px;
  height: 400px;
  margin: 1rem;
  position: relative;
  width: 800px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.start {
  text-align: center;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
