/* Farben Variables */
:root {
  --main-bg-color: #f1f2f7;
  --primary-color: #1a1559;
}

/* Allgemeine Eigenschaften */

body {
  font-family: halyard-micro, sans-serif;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--main-bg-color);
  background-size: cover;
}

.start {
  position: fixed;
  top: 30%;
}
.centered {
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navbar Eigenschaften */

.navbar {
  font-weight: 400;
  font-size: 16px;
  color: rgb(26, 21, 89);
  height: 100px;
}

.navbar a {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(26, 21, 89);
}

.collapse {
  background-color: #f1f2f7;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #a13356;
}
/* SoftUI Einstellungen*/

input {
  color: none;
}
input.softui {
  background: #f1f2f7;
  border-radius: 43px;
  border: none;
  padding-left: 30px;
  height: 50px;
  box-shadow: inset -5px -5px 8px #ffffff, inset 4px 4px 15px #dae1eb;
}

.primary {
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;

  background-color: #1a1559;
  border-radius: 50px;
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
}
.secondary {
  box-shadow: -10px -10px 15px #ffffff, 10px 10px 15px #dae1eb;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;

  border-radius: 50px;
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #1a1559;
}

.btn-small {
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  background-color: #1a1559;
  border-radius: 50px;

  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
}
.primary:hover {
  color: #ffffff;
}
.secondary:active {
  box-shadow: -10px -10px 5px rgb(255, 255, 255, 0.8) inset,
    10px 10px 10px rgb(187, 195, 204, 0.8) inset;

  user-select: none;
  transform: translateY(2px);
}

.primary:active {
  box-shadow: inset 6px 6px 10px rgb(6, 4, 35, 0.8),
    inset -8px -8px 5px rgb(71, 65, 151, 0.6);
  outline: none;
  border: none;
  transform: translateY(2px);
  /* box-shadow: -10px -10px 15px #474197 inset, 10px 10px 15px #060423 inset; */
}

.btn-normal:active {
  box-shadow: -10px -10px 15px #ffffff inset, 10px 10px 15px #bbc3cc inset;

  font-size: 16px;
  user-select: none;
}

/* .text {
  font-family: halyard-micro, sans-serif;
  height: 200px;
  background-color: tomato;
} */

/* Mobile Screen Einstellungen */

@media screen and (max-width: 768px) {
  .primary {
    font-size: 14px;
  }
  .secondary {
    font-size: 14px;
  }
  input.softui {
    font-size: 14px;
  }

  .start {
    position: fixed;
    top: 20%;
  }
}
