/* Farben Variables */
:root {
  --main-bg-color: #f1f2f7;
  --primary-color: #1a1559;
}

/* Allgemeine Eigenschaften */

body {
  font-family: halyard-micro, sans-serif;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--main-bg-color);
  background-size: cover;
}
h1 {
  line-height: 1.5;
  font-weight: 700;
  font-size: 40px;
}
h4 {
  line-height: 1.6;
  font-weight: 500;
  font-size: 30px;
}
h5 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
}
label {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
}

.start {
  margin: auto;
}
.centered {
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navbar Eigenschaften */

.navbar {
  font-weight: 400;
  font-size: 16px;
  color: #1a1559;
  height: 80px;
}

.navbar a {
  color: white;
}

/* SoftUI Einstellungen*/

input {
  color: none;
}
input.softui {
  background: #f1f2f7;
  border-radius: 43px;
  border: none;
  padding-left: 30px;
  height: 53px;
  box-shadow: inset -5px -5px 8px #ffffff, inset 4px 4px 15px #dae1eb;
}

.primary {
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  background-color: #1a1559;
  border-radius: 50px;
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
}
.secondary {
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;

  border-radius: 50px;
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #1a1559;
}

.btn-small {
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  background-color: #1a1559;
  border-radius: 50px;

  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
}
.primary:hover {
  color: #ffffff;
}
.btn-normal {
  box-shadow: -10px -10px 15px #ffffff, 10px 10px 15px #dae1eb;
}

.btn-normal:active {
  box-shadow: -10px -10px 15px #ffffff inset, 10px 10px 15px #bbc3cc inset;

  font-size: 16px;
  user-select: none;
}

/* .text {
  font-family: halyard-micro, sans-serif;
  height: 200px;
  background-color: tomato;
} */

/* Mobile Screen Einstellungen */

@media screen and (max-width: 768px) {
  label {
    line-height: 1.6;
    font-weight: 400;
    font-size: 12px;
  }
  h1 {
    line-height: 1.5;
    font-weight: 700;
    font-size: 30px;
  }
  h4 {
    line-height: 1.6;
    font-weight: 500;
    font-size: 20px;
  }
  h5 {
    line-height: 1.6;
    font-weight: 400;
    font-size: 14px;
  }
  .primary {
    font-size: 14px;
  }
  .secondary {
    font-size: 14px;
  }
  input.softui {
    font-size: 14px;
  }
}

@media screen and (min-width: 2000px) {
  h4 {
    line-height: 1.2;
    font-weight: 300;
    font-size: 25px;
  }
}
