.us {
  box-shadow: -10px -10px 15px #ffffff, 10px 10px 15px #dae1eb;
  border-radius: 30px;
  font-family: halyard-micro, sans-serif;
  color: #ffffff;
  text-align: center;
}

/* .image {
  height: auto;
  width: 100%;
} */
