#colorrect {
  border: 12px solid var(--main-bg-color);
  box-shadow: -10px -10px 15px #ffffff, 10px 10px 15px #dae1eb;
  border-radius: 20px;
  height: 230px;
  width: 530px;
  /* background-color: cadetblue; */
}
.colorRect {
  display: flex;
  justify-content: left;
  align-items: left;
}

.slider {
  -webkit-appearance: none;

  background: #f1f2f7;
  border-radius: 43px;
  border: none;

  box-shadow: inset -5px -5px 8px #ffffff, inset 4px 4px 15px #dae1eb;

  width: 100%;
  height: 25px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #f1f2f7;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: -4px -4px 5px #ffffff, 4px 4px 7px #dae1eb;
  cursor: pointer;
  background: #f1f2f7;
}
.slider:focus {
  outline: none;
}
@media screen and (max-width: 768px) {
  .colorRect {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #colorrect {
    height: 150px;
    width: 430px;
    margin-bottom: 50px;
  }
}
